<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="org.zdh.customermgr.vo.CustomerModel" alias="CM"/>
		<typeAlias type="org.zdh.customermgr.vo.CustomerQueryModel" alias="CQ"/>
		<typeAlias type="org.zdh.goodsmgr.vo.GoodsModel" alias="GM"/>
		<typeAlias type="org.zdh.goodsmgr.vo.GoodsQueryModel" alias="GQM"/>
		<typeAlias type="org.zdh.cartmgr.vo.CartModel" alias="CartM"/>
		<typeAlias type="org.zdh.cartmgr.vo.CartQueryModel" alias="CartQM"/>
		<typeAlias type="org.zdh.ordermgr.vo.OrderModel" alias="OM"/>
		<typeAlias type="org.zdh.ordermgr.vo.OrderQueryModel" alias="OQM"/>
		<typeAlias type="org.zdh.ordermgr.vo.OrderDetailModel" alias="ODM"/>
		<typeAlias type="org.zdh.ordermgr.vo.OrderDetailQueryModel" alias="ODQM"/>
		<typeAlias type="org.zdh.storemgr.vo.StoreModel" alias="StoreM"/>
		<typeAlias type="org.zdh.storemgr.vo.StoreQueryModel" alias="StoreQM"/>
	</typeAliases>
	<plugins>
		<plugin interceptor="org.zdh.common.pageutil.PagePlugin">
			<property name="dialect" value="mysql"/>
			<property name="pageSqlId" value=".*Page.*"/>
		</plugin>
	</plugins>
</configuration> 